@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    --color-base: antiquewhite;
    --color-textos-comunes: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

/*Grid-Areas*/
body{
    display: grid;
    background-color: var(--color-base);
    grid-template-areas: 
    "cabecera cabecera"
    "banner banner"
    "main main"
    "footer footer";
    max-width: 100vw;
}

#como, #afiliados, #contacto, #ubicacion, #objetivos{
    grid-area: main;
}

#cabecera{
    grid-area: cabecera;
}

#footer{
    grid-area: footer;
}

/*Cabecera y Footer*/
#cabecera{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
}

a img{
    height: 3rem;
}

.cabecera__titulo{
    font-size: 2rem;
}

.cabecera__titulo a{
    color: black;
    text-decoration: none;
}

.cabecera__boton, .cabecera__boton--contacto{
    display: inline;
    text-transform: uppercase;
    margin-right: 0.5rem;
}

.cabecera__boton a, .footer__boton a, .footer__redes a{
    color: black;
    text-decoration: none;
}

.cabecera__boton a:hover{
    text-decoration: underline;
}

.cabecera__boton--contacto{
    background-color: #ff7dd8;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    transition: 1s ease;
}

.cabecera__boton--contacto:hover{
    background-color: #4fa8fb;
    transition: 1s ease;
}

.cabecera__boton--contacto a{
    color: white;
    text-decoration: none;
}

#footer{
    display: flex;
    align-items: center;
    gap: 3rem;
    background-color: #ff7dd8;
    color: black;
    padding: 3rem;
}

.footer__boton{
    list-style-type: none;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.footer__informacion{
    width: 19rem;
    display: flex;
    flex-flow: column wrap;
    gap: 0.5rem;
}

.footer__parrafo{
    margin: 0;
    padding: 0;
}

.footer__redes{
    font-size: 1.5rem;
}

.footer__newsletter__titulo{
    text-transform: uppercase;
}

.footer__newsletter{
    margin-left: 13rem;
}

.footer__newsletter__input{
    margin-top: 1rem;
    background: none;
    border: none;
    border-bottom: 2px solid black;
    width: 15rem;
}

.footer__newsletter__input:focus{
    outline: none;
}

.footer__newsletter__input::placeholder{
    color: rgba(0, 0, 0, 0.671);
}

.footer__newsletter__btn{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}
/*Banner*/

#banner{
    height: 100vh;
    grid-area: banner;
    display: flex;
    flex-flow: nowrap row-reverse;
    align-items: center;
    padding-left: 11.5rem;
    overflow: hidden;
}

.banner__imagen{
    height: 100%;
    width: 60rem;
}

.banner__textos{
    background-color: var(--color-base);
    padding: 1rem;
    width: 40%;
    height: max-content;
}

.banner__titulo{
    text-transform: uppercase;
    font-size: 5rem;
}

.banner__parrafo{
    color: black;
    font-size: 1.2rem;
    text-align: justify;
}

/*Inicio*/

#como{
    display: flex;
    flex-flow: wrap column;
    align-content: center;
    background-color: black;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    color:#faebd7;
    overflow: hidden;
    padding: 1rem 0.5rem 1rem 0.5rem;
}

.como__titulo{
    text-transform: uppercase;
    font-size: 4rem;
    margin: 1rem 0 2rem 0;
}

.como__item--izquierdo, .como__item--derecho{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-content: center;
    color: black;
    background-color: var(--color-base);
    row-gap: 0.5rem;
    column-gap: 2.5rem;
    height: 20rem;
    width: calc(100vw - 10rem);
    margin-bottom: 3rem;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: #ff7dd8 1rem 1rem 1px;
}

.como__item__parrafo--izquierdo, .como__item__parrafo--derecho{
    text-align: justify;
    width: 60%
}

.como__item__imagen--izquierdo, .como__item__imagen--derecho{
    width: 20%;
    height: 90%;
    background-color: var(--color-base);
}

.como__item__imagen--derecho{
    order: 3;
}

.como__item__titulo--izquierdo, .como__item__titulo--derecho{
    font-size: 1.6rem;
    width: 60%;
    text-transform: uppercase;
    font-weight: 800;
}

/*Boton Subir*/

.botonSubir{
    position: fixed;
    background-color: #ff7dd8;
    color: var(--color-textos-comunes);
    border: 0.1rem solid var(--color-textos-comunes);
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    cursor: pointer;
    left: calc(100% - 4rem);
    top: calc(100% - 4rem);
    z-index: 9999;
}

/*Nosotros*/

#ubicacion{
    padding: 1rem 5% 2rem 5%;
    text-align: center;
}

.ubicacion__titulo{
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
}

/*Objetivos*/

#objetivos{
    padding: 2rem 5% 2rem 5%;
}

.objetivos__item{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.objetivos__item__textos{
    max-width: 50%;
}

.objetivos__item__numero{
    text-align: center;
    background-color: var(--color-base);
    color: var(--color-textos-comunes);
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}

.objetivos__item__titulo{
    text-transform: uppercase;
}

/*Afiliados*/

#afiliados{
    padding: 3rem 5% 3rem 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.4rem;
}

.afiliados__item{
    width: 15rem;
    height: 17rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 0.5rem;
}

.afiliados__item__imagen{
    width: 90%;
    height: 12rem;
}

.afiliados__item__nombre{
    font-weight: 400;
}

.afiliados__item__redes{
    font-size: 1.3rem;
}

.afiliados__item__redes a{
    color: var(--color-base);
}

.afiliados__boton, .formulario__botones__limpiar, .formulario__botones__enviar{
    background-color: var(--color-base);
    color: var(--color-textos-comunes);
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem;
}

/*Contacto*/

#contacto{
    padding: 3rem 5% 3rem 5%; 
}

.contacto__contenedor{
    padding: 3rem 0 3rem 0;
    border: 4px dotted var(--color-base);
}

.contacto__contenedor__titulo{
    text-transform: uppercase;
    Font-weight: bold;
    background-color: var(--color-base);
    color: var(--color-textos-comunes);
    padding: 0.2rem;
}

.contacto__contenedor__formulario{
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    gap: 1rem;
}

.formulario__campo__nombre, .formulario__campo__apellido{
    height: 2rem;
    width: 15rem;
    border-radius: 1rem;
    text-align: center;
}

.formulario__campo__correo{
    height: 2rem;
    width: 31rem;
    border-radius: 1rem;
    text-align: center;
}

.formulario__campo__edad{
    height: 2rem;
    width: 5rem;
    border-radius: 1rem;
    text-align: center;
}

.formulario__campo__pais{
    height: 2rem;
    width: 25rem;
    border-radius: 1rem;
    text-align: center;
}