<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Desafio 3 - Servidor Web</title>
</head>
<body style="text-align: center; background-color: rgb(50, 50, 180); font-family: verdana;">
    <h1>Backend Desafio 3 - Servidor Web</h1>
    <h2 style="display: inline; margin-right: 1.2rem;"> <a style="color: white" href="./productoRandom">Producto Random!</a> </h2>
    <h2 style="display: inline"> <a style="color: white" href="./productos">Todos los productos</a> </h2>
</body>
</html>