@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    --color-base: rgb(15, 110, 78);
    --color-textos-comunes: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

/*Cabecera y Footer*/

#cabecera, #footer{
    background-color: var(--color-base);
    padding: 1.3rem;
}

.cabecera__titulo, .footer__titulo{
    text-transform: uppercase;
    margin-bottom: 0.3rem;
}

.cabecera__titulo a, .footer__titulo a{
    color: black;
    text-decoration: none;
}

.cabecera__titulo--especial, .footer__titulo--especial{
    color: var(--color-textos-comunes);
}

.cabecera__boton{
    display: inline;
    margin-right: 0.5rem;
}

.cabecera__boton a{
    color: var(--color-textos-comunes);
    text-decoration: none;
}

/*Banner*/

#banner{
    height: 88vh;
    overflow: hidden;
}

.banner__imagen{
    width: 100%;
}


.banner__textos{
    position: absolute;
    top: calc(100% - 9.5rem);
    background-color: var(--color-base);
    width: 50%;
    border-top-right-radius: 4rem;
    padding: 1rem;
}

.banner__titulo{
    text-transform: uppercase;
    font-size: 3rem;
}

.banner__parrafo{
    color: var(--color-textos-comunes);
    font-size: 1.2rem;
    text-align: justify;
}

/*Inicio*/

#como{
    padding: 1rem 5.2rem 1rem 5.2rem;
}

.como__titulo{
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.como__item--izquierdo, .como__item--derecho{
    height: 15rem;
    margin-bottom: 1rem;
    border-bottom: 0.1rem dotted gray;
}

#como article:last-child{
    border: none;
}

.como__item__imagen--izquierdo{
    width: 15rem;
    height: 10rem;
    background-color: var(--color-base);
    float: left;
}

.como__item__titulo--izquierdo, .como__item__parrafo--izquierdo{
    text-align: right;
}

.como__item__titulo--izquierdo, .como__item__titulo--derecho{
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 400;
}

.como__item__imagen--derecho{
    width: 15rem;
    height: 10rem;
    background-color: var(--color-base);
    float: right;
}

/*Boton Subir*/

.botonSubir{
    position: fixed;
    background-color: var(--color-base);
    color: var(--color-textos-comunes);
    border: 0.1rem solid var(--color-textos-comunes);
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    cursor: pointer;
    left: calc(100% - 4rem);
    top: calc(100% - 4rem);
    z-index: 9999;
}

/*Nosotros*/

#ubicacion{
    padding: 1rem 5% 2rem 5%;
    text-align: center;
}

.ubicacion__titulo{
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
}

/*Objetivos*/

#objetivos{
    padding: 2rem 5% 2rem 5%;
}

.objetivos__item{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.objetivos__item__textos{
    max-width: 50%;
}

.objetivos__item__numero{
    text-align: center;
    background-color: var(--color-base);
    color: var(--color-textos-comunes);
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}

.objetivos__item__titulo{
    text-transform: uppercase;
}

/*Afiliados*/

#afiliados{
    padding: 3rem 5% 3rem 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.4rem;
}

.afiliados__item{
    width: 15rem;
    height: 17rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 0.5rem;
}

.afiliados__item__imagen{
    width: 90%;
    height: 12rem;
}

.afiliados__item__nombre{
    font-weight: 400;
}

.afiliados__item__redes{
    font-size: 1.3rem;
}

.afiliados__item__redes a{
    color: var(--color-base);
}

.afiliados__boton, .formulario__botones__limpiar, .formulario__botones__enviar{
    background-color: var(--color-base);
    color: var(--color-textos-comunes);
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem;
}

/*Contacto*/

#contacto{
    padding: 3rem 5% 3rem 5%; 
}

.contacto__contenedor{
    padding: 3rem 0 3rem 0;
    border: 4px dotted var(--color-base);
}

.contacto__contenedor__titulo{
    text-transform: uppercase;
    Font-weight: bold;
    background-color: var(--color-base);
    color: var(--color-textos-comunes);
    padding: 0.2rem;
}

.contacto__contenedor__formulario{
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    gap: 1rem;
}

.formulario__campo__nombre, .formulario__campo__apellido{
    height: 2rem;
    width: 15rem;
    border-radius: 1rem;
    text-align: center;
}

.formulario__campo__correo{
    height: 2rem;
    width: 31rem;
    border-radius: 1rem;
    text-align: center;
}

.formulario__campo__edad{
    height: 2rem;
    width: 5rem;
    border-radius: 1rem;
    text-align: center;
}

.formulario__campo__pais{
    height: 2rem;
    width: 25rem;
    border-radius: 1rem;
    text-align: center;
}